.d-flex {
	display: flex;
	@media (max-width: 767px) {
		flex-wrap: wrap;
	}
}

.get-in-touch {
	background: #fff;
	box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.15);
	.enquiry-form {
		border: none;
		border-left: 1px solid #f5a623;
	}
}

.text-white {
	color: #fff;
}