
// ---------------------------
// MISCELLANEOUS STYLES GOES HERE -----------
// ---------------------------



// arrow generator

.arrow_box {
	position: relative;
	background: #27b7b0;
	border: 2px solid #27b7b0;
	&:after,&:before{
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after{
		border-color: rgba(39, 183, 176, 0);
		border-left-color: #27b7b0;
		border-width: 8px;
		margin-top: -8px;
	}
	&:before{
		border-color: rgba(39, 183, 176, 0);
		border-left-color: #27b7b0;
		border-width: 11px;
		margin-top: -11px;		
	}
}







