/* line 6, components/_buttons.less */
.fnb-btn {
  font-size: 1.05em;
  -webkit-transition: all 0.6s ease;
          transition: all 0.6s ease;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 4px;
}
/* line 12, components/_buttons.less */
.fnb-btn.outline {
  background-color: #fff;
  color: #ec6d4b;
  border: 1px solid;
}
/* line 16, components/_buttons.less */
.fnb-btn.outline:hover,
.fnb-btn.outline:active {
  background-color: #ec6d4b;
  color: #fff;
  border: 2px solid;
}
/* line 22, components/_buttons.less */
.fnb-btn.s-outline {
  background-color: #fff;
  color: #27b7b0;
  border: 1px solid;
}
/* line 26, components/_buttons.less */
.fnb-btn.s-outline:hover,
.fnb-btn.s-outline:active {
  background-color: #27b7b0;
  color: #fff;
  border: 2px solid;
}
/* line 32, components/_buttons.less */
.fnb-btn.half-border {
  border-bottom: 2px solid;
}
/* line 34, components/_buttons.less */
.fnb-btn.half-border:hover {
  border: 1px solid;
  border-bottom: 2px solid;
}
/* line 39, components/_buttons.less */
.fnb-btn.border-btn {
  border: 2px solid;
}
/* line 42, components/_buttons.less */
.fnb-btn.mini {
  padding: 6px 20px;
}
/* line 45, components/_buttons.less */
.fnb-btn.primary-btn {
  background-color: #ec6d4b;
  color: #fff;
}
/* line 48, components/_buttons.less */
.fnb-btn.primary-btn:hover {
  background-color: #fff;
  color: #ec6d4b;
  border: 2px solid;
}
/* line 54, components/_buttons.less */
.fnb-btn.secondary-btn {
  background-color: #27b7b0;
  color: #fff;
}
/* line 57, components/_buttons.less */
.fnb-btn.secondary-btn:hover {
  background-color: #fff;
  color: #27b7b0;
  border: 2px solid;
}
/* line 63, components/_buttons.less */
.fnb-btn.full {
  padding: 0.85em 1.8em;
}
/* line 66, components/_buttons.less */
.fnb-btn:active,
.fnb-btn:focus {
  box-shadow: none;
  outline: 0;
}
/* line 70, components/_buttons.less */
.fnb-btn.bnw {
  background-color: #000;
  color: #fff;
  border: 1px solid;
  text-decoration: none;
}
/* line 76, components/_buttons.less */
.fnb-btn.grey {
  background-color: rgba(173, 167, 167, 0.52);
  color: rgba(0, 0, 0, 0.74);
  border-color: #ada7a7;
}
/* line 80, components/_buttons.less */
.fnb-btn.grey:hover,
.fnb-btn.grey:active {
  background-color: rgba(173, 167, 167, 0.52);
  color: rgba(0, 0, 0, 0.74);
  border-color: #ada7a7;
}
/* line 86, components/_buttons.less */
.fnb-btn.fullwidth {
  display: block;
  width: 100%;
}
/* line 90, components/_buttons.less */
.fnb-btn.no-border {
  border: 0;
  background-color: transparent;
}
/* line 93, components/_buttons.less */
.fnb-btn.no-border:hover,
.fnb-btn.no-border:active {
  background-color: transparent;
  border: 0;
  color: #ec6d4b;
}
/* line 99, components/_buttons.less */
.fnb-btn.alternate {
  background-color: #159f70;
  color: #fff;
  border: 2px solid #159f70;
}
/* line 103, components/_buttons.less */
.fnb-btn.alternate:hover {
  background-color: transparent;
  color: #159f70;
}
/* line 108, components/_buttons.less */
.fnb-btn.white-border {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}
/* line 113, components/_buttons.less */
.fnb-btn.link-btn.btn.link-btn {
  background-color: transparent;
  color: #ec6d4b;
  border: 0;
  box-shadow: none;
}
/* line 118, components/_buttons.less */
.fnb-btn.link-btn.btn.link-btn:hover {
  background-color: transparent;
  color: #f19279;
  border: 0;
}
/* line 126, components/_buttons.less */
.social-btn {
  padding: 0.8em 2em;
  border: 0;
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  border-radius: 0;
  width: 100%;
  margin-bottom: 1em;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
/* line 139, components/_buttons.less */
.social-btn.fb {
  background-color: #3b5998;
}
/* line 142, components/_buttons.less */
.social-btn.google {
  background-color: #ec2c2c;
}
/* line 145, components/_buttons.less */
.social-btn:hover {
  color: #fff;
  text-decoration: none;
}
/* line 149, components/_buttons.less */
.social-btn i {
  position: absolute;
  left: 10px;
  font-size: 1.35em;
}
/* line 3, news.less */
.home .entry-title {
  font-size: 26px !important;
  font-size: 1rem !important;
}
/* line 7, news.less */
.bolder {
  font-weight: bold;
  margin: auto;
}
/* line 11, news.less */
.single-featured-image-header {
  background-image: url(../images/banner-default.jpg);
  min-height: 490px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 20%;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 18, news.less */
  .single-featured-image-header {
    min-height: 290px;
    padding: 20px 10%;
  }
}
/* line 23, news.less */
.single-featured-image-header .overlay {
  width: 100%;
  background: #0000005c;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}
/* line 34, news.less */
.title-content {
  z-index: 999;
  position: relative;
  padding-top: 8%;
  text-align: center;
}
/* line 39, news.less */
.title-content h1 {
  color: #fff;
  font-weight: 800;
  font-size: 3em !important;
}
@media screen and (max-width: 768px) {
  /* line 43, news.less */
  .title-content h1 {
    font-size: 1.5em !important;
  }
}
/* line 47, news.less */
.title-content h4 {
  color: #fff;
  font-weight: 400;
}
/* line 54, news.less */
.breadcrumb {
  width: 100%;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 999;
}
/* line 61, news.less */
.breadcrumb a {
  color: #fff;
}
/* line 66, news.less */
body .submit {
  background-color: #ec6d4b !important;
}
/* line 71, news.less */
.comments-area .comments-title {
  font-size: 1rem;
  font-weight: 600;
}
/* line 75, news.less */
.comments-area a {
  color: #ec6d4b;
}
/* line 78, news.less */
.comments-area .icon {
  color: #ec6d4b !important;
}
/* line 83, news.less */
.page-template-blog .single-featured-image-header {
  display: none!important;
}
/*Featured Post*/
/* line 89, news.less */
.featured-post {
  width: 50%;
  float: left;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  /* line 93, news.less */
  .featured-post {
    width: 100%;
    float: none;
    padding: 0px;
  }
}
/* line 98, news.less */
.featured-post .border-layout {
  border: 1px solid #ccc;
  padding: 20px;
  height: 210px;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 103, news.less */
  .featured-post .border-layout {
    padding: 0px;
    position: relative;
    height: auto;
    margin-bottom: 10px;
  }
}
/* line 109, news.less */
.featured-post .border-layout h5 {
  text-transform: capitalize;
  letter-spacing: 0;
  font-size: 14px;
}
/* line 115, news.less */
.featured-post .border-layout .link-more {
  display: none;
}
/* line 118, news.less */
.featured-post .border-layout p {
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  /* line 120, news.less */
  .featured-post .border-layout p {
    display: none;
  }
}
/* line 124, news.less */
.featured-post .border-layout .featured-image {
  background: url(../images/banner-default.jpg);
  width: 160px;
  height: 210px;
  float: left;
  position: relative;
  background-size: cover !important;
  margin-left: -20px;
  margin-top: -20px;
}
@media screen and (max-width: 768px) {
  /* line 134, news.less */
  .featured-post .border-layout .featured-image {
    width: 100%;
    height: 130px;
    margin-bottom: 10px;
    margin: 0px;
    float: none;
  }
}
/* line 142, news.less */
.featured-post .border-layout .featured-meta {
  position: absolute;
  bottom: 10px;
  color: #767676;
  font-size: 12px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 148, news.less */
  .featured-post .border-layout .featured-meta {
    position: relative;
  }
}
/* line 151, news.less */
.featured-post .border-layout .featured-meta img {
  width: 30px;
  float: left;
  margin: 2px 12px 0px 0px;
  opacity: .3;
}
/* line 158, news.less */
.featured-post .border-layout .featured-content {
  float: left;
  margin-left: 15px;
  width: 60%;
}
@media screen and (max-width: 768px) {
  /* line 162, news.less */
  .featured-post .border-layout .featured-content {
    float: none;
    margin-left: 0px;
    width: 100%;
    padding: 10px;
  }
}
/* line 171, news.less */
.featured-post:hover a {
  color: #ec6d4b;
  cursor: pointer;
}
/* line 178, news.less */
.list-layout {
  list-style: none;
}
/* line 180, news.less */
.list-layout li {
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
/* line 186, news.less */
.list-layout li .list-post .featured-content {
  width: 70%;
  float: left;
}
/* line 190, news.less */
.list-layout li .list-post .featured-image {
  width: 110px;
  float: right;
  height: 140px;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  /* line 195, news.less */
  .list-layout li .list-post .featured-image {
    width: 90px;
    float: right;
    height: 110px;
    background-size: cover;
  }
}
/* line 202, news.less */
.list-layout li .list-post h5 {
  text-transform: capitalize;
  color: #000;
  letter-spacing: 0;
  font-size: 20px;
  font-weight: 600;
}
/* line 210, news.less */
.list-layout li .list-post p {
  font-size: 14px;
}
/* line 213, news.less */
.list-layout li .list-post .featured-meta {
  font-size: 12px;
  color: #666;
}
/* line 216, news.less */
.list-layout li .list-post .featured-meta img {
  width: 30px;
  float: left;
  margin: 2px 12px 0px 0px;
  opacity: .3;
}
/* line 223, news.less */
.list-layout li .list-post .more-link {
  display: none;
}
/* line 228, news.less */
.list-layout li:hover a {
  color: #ec6d4b;
}
/* line 231, news.less */
.list-layout li:hover h5 {
  color: #ec6d4b;
}
/* line 239, news.less */
.header-image {
  height: 160px;
  margin-bottom: 5%;
  background: #f85032;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f85032), color-stop(32%, #ed704e), color-stop(100%, #ed704e));
  background: -webkit-linear-gradient(to bottom, rgba(248, 80, 50, 0.7) 8%, #ed704e 30%, #ed704e 100%);
  background: -webkit-linear-gradient(top, rgba(248, 80, 50, 0.7) 8%, #ed704e 30%, #ed704e 100%);
  background: linear-gradient(to bottom, rgba(248, 80, 50, 0.7) 8%, #ed704e 30%, #ed704e 100%);
}
/* line 247, news.less */
.header-image h1 {
  color: #fff;
  font-weight: 800;
  text-align: center;
  font-size: 2.3em;
  padding-top: 40px !important;
}
/* line 254, news.less */
.header-image .search-container {
  width: 630px;
  margin: 40px auto;
}
@media screen and (max-width: 768px) {
  /* line 257, news.less */
  .header-image .search-container {
    width: 370px;
  }
}
/* line 260, news.less */
.header-image .search-container select {
  width: 30%;
  float: left;
  margin-right: 10px;
}
/* line 265, news.less */
.header-image .search-container select {
  width: 30%;
  float: left;
  margin-right: 10px;
  background: #fff;
  border: 0px;
  box-shadow: 0px 0px 12px #00000040;
}
@media screen and (max-width: 768px) {
  /* line 272, news.less */
  .header-image .search-container select {
    width: 26%;
  }
}
/* line 276, news.less */
.header-image .search-container .search-form {
  width: 60%;
  float: left;
  text-align: center;
}
@media screen and (max-width: 768px) {
  /* line 280, news.less */
  .header-image .search-container .search-form {
    width: 70%;
  }
}
/* line 283, news.less */
.header-image .search-container .search-form label {
  color: #333;
  display: block;
  font-weight: 800;
  margin-bottom: 0.5em;
  border: 0px;
  box-shadow: 0px 0px 12px #00000040;
}
/* line 291, news.less */
.header-image .search-container .search-form input {
  border: 0px;
}
/* line 294, news.less */
.header-image .search-container .search-form .search-submit {
  bottom: 11px;
}
/*# sourceMappingURL=news.css.map */